{% load staticfiles %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'students/style.css' %}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>Classes</title>

                <!-- Core CSS - Include with every page -->
                <!-- {% load static %}
                <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
             -->    </head>
                <body>
                    
                    <h4>Welcome!</h4>
                {% block content %}
                {% endblock %}


                    <!-- Core Scripts - Include with every page -->
                   <!--  <script src = "{% static 'js/jquery.min.js' %}"></script>
                    <script src = "{% static 'js/bootstrap.min.js' %}"></script> -->
        {% block javascript %}
        {% endblock %}


            </body>
        </html>