{% load staticfiles %}
{% load static %}

  <meta name="description" content="Camino Financial">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Class Registration</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js">
  </script>
      <link rel="stylesheet" type="text/css" href="../../static/students/style.css">

 <script src="/static/js/form.js"></script>

 {% block content %}
<br>
<form action="/your_class/" method="post">{% csrf_token %}
  <label for="pin">Enter PIN: </label>
  <input type="text" name="pin" value="" id="pin">
  <br/>
  <label for="phone">Enter Mobile #: </label>
  <input type="text" name="phone" value="" id="phone">
  <br/> 
  <p><input type="submit" value="See Your Class(es)" /></p>
</form>

<div class="container">
  <div class="row">
    <div class="jumbotron">
      {% if all_students %}
      <h3>These are your classes:</h3>
      <ul>
        {% for student in student.classes_set.all %}
        <li>{{ student.classes }}</li>
        {% endfor %}
      </ul>
      {% else %}
      <h3>You are not registered for any classes.</h3> 
      {% endif %}
  {% endblock %}